.content{
    font-size: 40px;
    color: red;
}

.form{
    margin: 0;
}
.container button{
    display: block;
    margin-top: 20px;
    background-color: #4b70e2;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: white;
}
.container input {
    width: 300px;
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.result {
    background-color: aquamarine;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 20px;
}